.about {
    position: relative;
    background-image: url("../../img/Violet_top_left_wave.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    h3 {
        @include styleText($color-pink-1, $fs-7, $fw-2);
    }
    p {
        @include styleText($color-black-1, $fs-8, $fw-3);
    }
    .about__top {
        position:absolute;
        top:-80px;
        left: 0;
        right: 0;
        z-index: -1;
        img{
            width: 100%;           
        }
      
    }
    .about__img{
        img{
            width: 100%;
        }
    }
  
}

@media (max-width: 992px) {
    .about{
        p{
            font-size: $fs-10;
          }
        .about__img{
            max-width: $w-4;
            img{
                width: 90%;
            }
        }
    }
  
   }
